ul li{
    list-style: none;
}

header{
    background: #000;
    color: #fff;
}
header img{
    width: 100%;
    /* object-fit: cover; */
}

header h1{
    text-align: center;
    padding: 20px 0px 40px 0px;
}

section#flights{
 text-align: center;
}
section#flights h2{
 margin-bottom: 50px;   
}
section#flights ul li{
    margin-bottom: 10px;
}
 div.flight-design {
    background-color: #75FB8D;
    width: 800px;
    margin: auto;
    border-radius: 30px;
    padding: 10px;
    text-align: left;
    padding-left: 40px;
    border: solid 3px #000;

}

div.flight-design div p {
    width: 200px;
   display: inline-block;
   padding-right: 10px;
}

div.flight-design div button {
    width: 100px;
    /* margin-left:450px; */
    background-color: #000;
    color: #fff;
    padding: 5px 0px;
    font-weight: bold;
    
 }

section#book_seat {
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    width: 1200px;
    margin: auto;
}

#seats-layout{
    width: 140px ;
    /* border: 1px solid #000; */
    position: absolute;
    z-index: 2;
    left: 528px;
    top: 225px;

}

.seatdesign{
    width: 30px;
    padding: 10px;;
    background-color: #75FB8D;
    color: #000;
    font-weight: bold ;
    text-align: center;
    margin: 10px;
    float: left;
}
div.seat-taken{
    background-color: #CF2E25;
}
.clearfix{
    clear:left;
}


#btn-seat-confirm, #btn-ticket-confirm{
    width: 300px;
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    font-weight: bold;
}
#btn-ticket-confirm{
    margin-top: 10px;
}

section#book_seat #modal {
    width: 800px;
    background-color: #75FB8D;
    border: 3px solid #000;
    border-radius: 30px;
    position: fixed;
    z-index: 3;
    left: 25%;
    top:25%;
}
div#modal img{
    width: 300px;
    position: absolute;
    right: 50px;
    bottom: 0px;
}
#modal #close{
    width: 20px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    margin-left: 30px;
    margin-top: 20px;
    color: #fff;
    background-color: #000;

}
form{
    width: 400px;
    padding: 50px 0px;
    float: left;
    
}
.show{
    display: block;
}
form #search{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 5px 0px;
    width: 60px;
    background-color: #000;
    color: #fff;
    display: inline-block;
}
form label{
    font-family: Arial, Helvetica, sans-serif;
}

.hide{
    display: none;
}
.red{
    background-color: red;
}
#message{
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
}